ul {
    list-style: none;
    max-height: 80vh;
    overflow-y: auto;
}

a.list-group-item {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
    color: #777;
}

    a.list-group-item.active,
    a.list-group-item.active:hover,
    a.list-group-item.active:focus {
        color: #555;
        background-color: #e7e7e7;
        border-color: #e7e7e7;
    }

    a.list-group-item > smal {
        font-size: 8pt;
        border: 1px solid lightblue;
        border-radius: 7px;
        padding: 2px;
        float: right;
    }
