@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using System.Linq
@using Hangfire.Dashboard.Pages
@using Hangfire.SignalRViewer.DependencyInjection
@inherits Hangfire.Dashboard.RazorPage
@{
    Layout = new LayoutPage("Hello World");
}

<template id="configuration">
    {
    "DateFormat": "@GlobalConfigurationExtensions.Options.DateFormat",
    "LevelFormat": "@GlobalConfigurationExtensions.Options.LevelFormat"
    }
</template>

<link rel="stylesheet" type="text/css" href="/css/styles.css" />

<div class="row" id="vue-app">
    <div class="col-md-3 col-12">
        <div class="list-group">
            <vu-log-category v-for="item in orderedCategories"
                             v-bind:item="item"
                             v-bind:key="item.id"></vu-log-category>
        </div>
    </div>
    <div class="col-md-9 col-12">
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Level</th>
                        <th>Message</th>
                        <th>Time Ago</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in orderedLogs" :class="classObject">
                        <td>{{ item.properties.Id }}</td>
                        <td>{{ item.levelFormat }}</td>
                        <td>{{ item.renderedMessage }}</td>
                        <td>{{ item.timeDifferenceFormat }}</td>
                        <td>{{ item.createdFormat }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/libs/vue.js"></script>
<script src="/libs/vuex.js"></script>

<script type="application/javascript" src="/libs/signalr.js"></script>
<script type="application/javascript" src="/js/index.js"></script>
