@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@

@using System.Linq
@using Hangfire.Dashboard.Pages
@inherits Hangfire.Dashboard.RazorPage
@{
    Layout = new LayoutPage("Hello World");
}

<link rel="stylesheet" type="text/css" href="/css/styles.css"/>

<script type="application/javascript" src="/libs/signalr.js"></script>
<script type="application/javascript" src="/js/index.js"></script>

<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>